<?xml version="1.0" encoding="UTF-8"?>
<phpunit        
    backupGlobals="false"        
    backupStaticAttributes="false"       
    cacheTokens="true"        
    colors="true"        
    convertErrorsToExceptions="true"                                        
    convertNoticesToExceptions="true"         
    convertWarningsToExceptions="true"        
    processIsolation="false"        
    stopOnFailure="false"        
    verbose="false">    
    <testsuites>        
        <testsuite name="GetStarted Tests">            
            <directory suffix='_test.php'>/var/www/html/orbis/src/code/php/</directory>       
        </testsuite>    
    </testsuites>
    <filter>
    <whitelist>
    <directory suffix=".php">/var/www/html/orbis/src/code/php</directory>
    <exclude>
      <file>/var/www/html/orbis/src/code/php/abrir_livro.php</file>
      <file>/var/www/html/orbis/src/code/php/cadastrar_usuario.php</file>
      <file>/var/www/html/orbis/src/code/php/cadastro.php</file>
      <file>/var/www/html/orbis/src/code/php/categorias.php</file>
      <file>/var/www/html/orbis/src/code/php/index.php</file>
      <file>/var/www/html/orbis/src/code/php/login.php</file>
      <file>/var/www/html/orbis/src/code/php/perfil_livro.php</file>
      <file>/var/www/html/orbis/src/code/php/perfil_usuario.php</file>
      <file>/var/www/html/orbis/src/code/php/pesquisa.php</file>
      <file>/var/www/html/orbis/src/code/php/conexao_banco.php</file>
      <file>/var/www/html/orbis/src/code/php/livro_test.php</file>
      <file>/var/www/html/orbis/src/code/php/usuario_test.php</file>
      <file>/var/www/html/orbis/src/code/php/editora_test.php</file>
      <file>/var/www/html/orbis/src/code/php/categoria_test.php</file>
      <file>/var/www/html/orbis/src/code/php/autor_test.php</file>
      <file>/var/www/html/orbis/src/code/php/base_livros_test.php</file>
      <file>/var/www/html/orbis/src/code/php/base_usuarios_test.php</file>
      <file>/var/www/html/orbis/src/code/php/base_usuarios.php</file>
    </exclude>
  </whitelist>
</filter>
</phpunit>